{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load bus_table_temp %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ti-icons@0.1.2/css/themify-icons.css">
<div class="container" style="margin-top: 3rem;">
    <div class="row justify-content-center">
        <div class="col-md-7 col-lg-4 mb-5 mb-lg-0 wow fadeIn">
            <div class="card border-0 shadow" style="margin-top: 3rem;">
                <img src="{{user.profile.image.url}}" alt="...">
                <div class="card-body p-1-9 p-xl-5">
                    <div class="mb-4">
                        <h3 class="h4 mb-0">{{user.username}}</h3>
                        <span class="text-primary"></span>
                    </div>
                    <ul class="list-unstyled mb-4">
                      <li class="mb-3"><a href="#!"><i class="far fa-envelope display-25 me-3 text-secondary"></i>{{user.email}}</a></li>
                        
                    </ul>

                    <ul class="social-icon-style2 ps-0">
                      <div class="model-form">
                        <div class="container">
                          <center><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#form">
                              Update my profile
                            </button>  </center>
                          </div>
                          
                          <div class="modal fade" id="form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                              <div class="modal-content">
                                <div class="modal-header border-bottom-0">
                                  <h5 class="modal-title" id="exampleModalLabel">Update Profile</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                           <div class="modal-body">
                                            <form method="POST" action=""  enctype="multipart/form-data">
                                              {% csrf_token %}
                                              {{ u_form|crispy }} <!-- User form -->
                                              {{ p_form|crispy }} <!-- Profile form -->
                                               
                                  <div class="modal-footer border-top-0 d-flex justify-content-center">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>
                    </div>
                  </ol>
           
   
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="ps-lg-1-6 ps-xl-5">
                <div class="mb-5 wow fadeIn">
                    <div class="text-start mb-1-6 wow fadeIn">
                        <h2 class="h1 mb-0 text-primary">#My routes</h2>
                    </div>
                    <table class="table table-striped">
                      <thead>
                          <tr>
                              <th>Route</th>
                              <th></th>
                              <th>Schedule</th>
                              <th>Number plate</th>
                              <th>Date posted</th>
              
                          </tr>
                      </thead>
                      <tbody>
                          {% for buses in user_buses %}
                          <tr>
                              <td>{{ buses.route_id }}</td>
                              <td>{{ buses.schedule }}</td>
                              <td>{{ buses.num_plate }}</td>
                              <td>{{buses.date_posted }}</td>
                           
                          </tr>
                          {% endfor %}
                      </tbody>
              
                  </table>
                  <div class="pagination">
                    <span class="step-links">
                        {% if user_list.has_previous %}                                     <!--If there is a previous page-->
                            <a href="?page={{ user_list.previous_page_number }}">previous page</a>  <!--Hyperlink to previous page on Click-->
                        {% endif %}
                
                        <span class="current">
                             Page{{ user_list.number }} of {{ user_list.paginator.num_pages }}  <!--customers_list.number Is the current page number,customers_list.paginator.num_pages Is the total number of pages-->
                        </span>
                
                        {% if user_list.has_next %}    <!--If there is a next page-->
                            <a href="?page={{ user_list.next_page_number }}">next page</a>    <!--Hyperlink to next page when clicked-->
                        {% endif %}
                    </span>
                </div>
                    <p></p>
                    <p class="mb-0"></p>
                </div>
               
<style>
  .body{margin-top:20px;}
.icon-box.medium {
    font-size: 20px;
    width: 50px;
    height: 50px;
    line-height: 50px;
}
.icon-box {
    font-size: 30px;
    margin-bottom: 33px;
    display: inline-block;
    color: #ffffff;
    height: 65px;
    width: 65px;
    line-height: 65px;
    background-color: #59b73f;
    text-align: center;
    border-radius: 0.3rem;
}
.social-icon-style2 li a {
    display: inline-block;
    font-size: 14px;
    text-align: center;
    color: #ffffff;
    background: #59b73f;
    height: 41px;
    line-height: 41px;
    width: 41px;
}
.rounded-3 {
    border-radius: 0.3rem !important;
}

.social-icon-style2 {
    margin-bottom: 0;
    display: inline-block;
    padding-left: 10px;
    list-style: none;
}

.social-icon-style2 li {
    vertical-align: middle;
    display: inline-block;
    margin-right: 5px;
}

a, a:active, a:focus {
    color: #616161;
    text-decoration: none;
    transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-duration: .2s;
    -ms-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -o-transition-duration: .2s;
}

.text-secondary, .text-secondary-hover:hover {
    color: #59b73f !important;
}
.display-25 {
    font-size: 1.4rem;
}

.text-primary, .text-primary-hover:hover {
    color: #ff712a !important;
}

p {
    margin: 0 0 20px;
}

.mb-1-6, .my-1-6 {
    margin-bottom: 1.6rem;
}
</style>


{% endblock %}
