
 {%load static%}
 <!DOCTYPE html>
 <html lang="en">
   <head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"> 
     <link href="{% static 'css/book.css' %}" rel="stylesheet"> 
     
     <title>Book Bus</title>
    </head>
    <center>
      <body>
          <div class="container "style="color: purple;">

         
           <form>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputEmail1">First Name</label>
        <input type="name" class="form-control" id="" placeholder="First Name">
      </div>
      <div class="form-group col-md-4">
        <label for="input">Last Name</label>
        <input type="name" class="form-control" id="inputPassword4" placeholder="Last Name">
      </div>
    </div>

    <div class="form-group col-md-4">
      <label for="inputAddress">ID Number</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="ID NO">
    </div>

    
      <div class="form-group col-md-4">
        <label for="exampleFormControlSelect1">number of seats</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>1</option>
        </select>
      </div>
   
      </div>
    </div>
    <button type="submit" class="btn btn-primary">book</button>
  </form>


</center>


        
        <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>

    </div>
      </body>
      </html>
   