{% load bootstrap4 %}
<!-- NAVBAR-->
<nav class="navbar navbar-expand-lg py-3 navbar-dark bg-blue shadow-lg ">
    <div class="container">
      <a  href="{% url 'Basi:index' %}" class="navbar-brand">
        <!-- Logo Image -->
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTlqB5UbcTypdgaM-EF40cRFXBan-WtsrMKqA&usqp=CAU" width="45" alt="" style="border-radius:10px;margin-left:-300px" >
        <!-- Logo Text -->
        <span  href="{% url 'Basi:index' %}" class="text" style="color:#fff;margin-left: 90px;"><b>BASIBOOK</b></span>
      </a>
  
      <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>
  
      <div id="navbarSupportedContent" class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active"><a href="{% url 'Basi:index' %}" class="nav-link">Home <span class="sr-only">(current)</span></a></li>
          <li class="nav-item active"><a href="{% url 'Basi:about' %}" class="nav-link">About  <span class="sr-only">(current)</span></a></li>
        
{% if not user.is_authenticated %}
          <li class="nav-item"><a href="{% url 'Basi:home' %}" class="nav-link">Account</a></li>
          {% endif %}
          {% if user.is_authenticated %}
          

          <li class="nav-item">
            <a class="nav-link" href="{% url 'profileApp:profile'  %}">Profile</a>
</li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout'  %}">logout</a>
            
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>