/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/


  
  code {
    background: rgb(185, 61, 61);
    padding: 0.2rem;
    border-radius: 0.2rem;
    margin: 0 0.3rem;
}  

