{% extends 'base.html' %}




{% block content %}

<body>
  <h2 style="margin-top: 4rem;">Welcome to the BusChap! <span class="icon-emo-happy"></span></h2>
  <p class="lead">
    <center>If you already have an account, go ahead and <a href="{% url 'login' %}">log in</a>. If you are new to BusChap, get started
    by creating an account</center>
  </p>
  <hr>
  <center><a class="btn btn-primary" id="button" href="{% url 'driver_signup' %}" role="button"><span>Driver account</span></a><a style="margin-left: 2rem;" class="btn btn-primary" href="{% url 'passenger_signup' %}" id="button" role="button"><span>Traveller account</span></a></center>
  <style>
    #button {
      border-radius: 4px;
      background-color: #f4511e;
      border: none;
      color: #FFFFFF;
      text-align: center;
      font-size: 28px;
      
      width: 300px;
      transition: all 0.5s;
      cursor: pointer;
      margin: 5px;
    }
    
    #button span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s;
    }
    
    #button span:after {
      content: '\00bb';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0.5s;
    }
    
    #button:hover span {
      padding-right: 25px;
    }
    
    #button:hover span:after {
      opacity: 1;
      right: 0;
    }
   body {
       background-color: #e8e8e4;
   }
    </style>
    </body>
{% endblock %}
